<div class="header">
    <h1>{{titolo}}</h1>
    <h2>{{sottoTitolo}}</h2>
    <h3>{{anni}}</h3>
    <p>
        Nome: {{mario.nome}}
    </p>
    <p>
        Cognome: {{mario.cognome}}
    </p>
    <p>
        Anni: {{mario.annoNascita}}
    </p>
    <p>
        {{mario | json}}
    </p>
    <ul>
        <li *ngFor="let animale of animali">
            {{animale}}
        </li>
    </ul>
    <ul>
        <li *ngFor="let ac of animaliComplessi">
            <h1 *ngIf="ac.nome == 'gatto'">
                <strong>{{ac.nome | uppercase}}</strong>
            </h1>
            <span *ngIf="ac.nome != 'gatto'">
                {{ac.nome}}
            </span>
            , verso <strong>{{ac.verso}}</strong>
        </li>
    </ul>
    <div *ngIf="attivo">Ciao sono attivo</div>
</div>