<!-- <p>
  supertype del pokemon pl1-2: {{data[1].supertype}}
</p>
<p>
  name della prima ability del pokemon pl1-2: {{data[1].abilities![0].name}}
</p>
<p>
  il primo dei "types" del pokemon pl1-3: {{data[2].types[0]}}
</p>
<p>
  il primo dei "cost" del primo "attack" del pokemon pl1-3: {{data[2].attacks[0].cost[0]}}
</p>
<p>
  l' "image" "large" del pokemon pl1-10 (tag immagine): <img [src]="data[9].images.large">
</p>
<p>
  il "name" del "set" del pokemon pl1-3: {{data[2].set.name}}
</p> -->


<app-pokemon-preview *ngFor="let p of data" [pokemon]="p">
</app-pokemon-preview>